html, body {
    width: 100%;
    height: 100%;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

@media (min-width:576px) {
    #nav {
        margin: auto;
    }
}

#navitems {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    background-color: transparent;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

#page1 {
    height: 100%;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../imgs/bg1.jpg");
    background-attachment: fixed;
}

@media (max-width: 575px) {
    #page1 {
        background-attachment: scroll;
    }
}

#why {
    min-height: 5rem;
    height: 20%;
    background: #c2e59c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

#why h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    /*text-shadow: 0.3px 0.3px 0.3px black;*/
    /*font-size: 1.2rem;*/
}

#why h3 {
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    /*text-shadow: 0.3px 0.3px 0.3px black;*/
    /*font-size: 1.2rem;*/
}

#page2 {
    height: 100%;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../imgs/bg2.jpg");
    background-attachment: fixed;
}

@media (max-width: 575px) {
    #page2 {
        background-attachment: scroll;
    }
}

#page3 {
    height: 100%;
    background-size: cover;
    -o-background-size: cover;
    background: #c2e59c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 575px) {
    #page3 {
        background-attachment: scroll;
    }
}

#features {
    min-height: 5rem;
    height: 20%;
    background: #c2e59c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

#features h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    /*text-shadow: 0.3px 0.3px 0.3px black;*/
    /*font-size: 1.2rem;*/
}

#features h3 {
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    /*text-shadow: 0.3px 0.3px 0.3px black;*/
    /*font-size: 1.2rem;*/
}

#benefits {
    min-height: 5rem;
    height: 30%;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../imgs/bg3.jpg");
    background-attachment: fixed;
    text-align: center;
}

#benefits h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    /*text-shadow: 0.3px 0.3px 0.3px black;*/
    /*font-size: 1.2rem;*/
}

#benefits h3 {
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    /*text-shadow: 0.3px 0.3px 0.3px black;*/
    /*font-size: 1.2rem;*/
}

#page4 {
    height: 100%;
    background-size: cover;
    -o-background-size: cover;
    background: #ffd89b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd89b, #19547b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 575px) {
    #page4 {
        background-attachment: scroll;
    }
}

#page5 {
    height: 100%;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background: rgba(255, 255, 255, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}

@media (max-width: 575px) {
    #page5 {
        background-attachment: scroll;
    }
}

#main-title h1 {
    font-size: 4rem;
}

#main-title h3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

#main-title {
    max-width: 18.5rem;
    border-width: thin;
    border-style: groove;
    border-radius: 20px;
    border-color: black;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

#pulse-button {
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 500px;
    line-height: 100px;
    /*text-shadow: 1px 1px 0.2px black;*/
    border: none;
    border-radius: 50%;
    background-image: url(../imgs/bg4.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;

}

#pulse-button h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border-width: thin;
    border-style: groove;
    border-left: -20px;
    border-color: black;
}



.navbar-brand {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: .12rem;
    margin-left: 1rem;
}

.navbar-offset {
    margin-top: -5rem;
    padding-top: 5rem;
}
.nav-item:hover,.navbar-brand:hover{
  -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}
